@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
      outline: 1px solid white !important;
} */

body {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
  }

.label-text {
      @apply mb-2 block text-[white] text-[20px] font-bold
}

.form-input {
      @apply w-full rounded-md border border-primary-orange bg-[black] px-4 py-2 focus:outline-none  text-[white]
}

.wagon-card {
      @apply flex w-[80vw] border-2 border-primary-orange bg-[black] rounded-2xl h-[250px] text-[white] p-8 lg:px-1 justify-around max-lg:flex-col max-lg:gap-4 max-lg:h-[300px] 
}

.DateInput {
      @apply bg-[#151515] h-[50px] w-[300px]  border-2 border-primary-orange text-center rounded-lg
}

.DirectionInput {
      @apply bg-[#151515] h-[50px] w-[300px]  border-2 border-primary-orange text-center rounded-lg
}